ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
pabsoultLeft()
  position absolute
  left 0
  top 0
pabsoultRight()
  position absolute
  right 0
  top 0
moneyStyle()
  font-size 2.2rem
  font-weight 900
  color #ff7400
  margin .5rem 0 .5rem -.4rem
bigtitleStyle()
  font-size 2.4rem
  color #000
  font-weight 900
imgStyle()
  height 85%
  width 93%
  border-radius .5rem
